

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-info">
        @Html.ActionLink("Agencia", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-item nav-link active" })
                @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-item nav-link" })
                <div class="nav-item dropdown">
                    @Html.ActionLink("Entidades", "", null, new { @class = "nav-link dropdown-toggle", data_toggle = "dropdown" })
                    <div class="dropdown-menu">
                        @Html.ActionLink("Personas", "Index", "Personas", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Empresas", "Index", "Empresas", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Titulos", "Index", "Titulos", null, new { @class = "dropdown-item" })
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Agencia de Personal - &copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
    